* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-card-parent {
  width: 100vw;
  padding-bottom: 5rem;
  padding-left: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 5rem;
  margin-top: 1rem;
}

.movie-img {
  width: 300px;
  height: 450px;
  background-color: red;
  background-size: cover;
}

.movie-information {
  padding: 1rem;
  width: 300px;
  background-color: #1a1a1a;
  width: 1;
}

.title {
  margin-bottom: 10px;
  font-size: 1rem;
}

.genre-heading,
.title-heading {
  color: white;
}
