* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card-parent {
  width: 100vw;
  padding-bottom: 5rem;
  padding-left: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 5rem;
  margin-top: 1rem;
}

.movie-img {
  width: 300px;
  height: 450px;
  background-color: red;
  background-size: cover;
}

.movie-information {
  padding: 1rem;
  width: 300px;
  background-color: #1a1a1a;
  width: 1;
}

.title {
  margin-bottom: 10px;
  font-size: 1rem;
}

.genre-heading,
.title-heading {
  color: white;
}

.main-container {
  margin-right: 150px;
  border:solid #ccc 2px;
  border-radius: 5px;
  background-color: rgb(217, 245, 255);
}

.flex {
  display: flex;
  flex-direction: row;
}

.modal-image{
  width: 50%;
}

.modal-info{
  width: 50%;
  margin-left: 20px;
}

.modal-buttons {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color:#ccc;
}


.modal-rating {
  color: rgb(54, 115, 220);
  margin: 20px;
  font-size: 30px;
}