.footer {
    width: 100vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    rgba(239, 237, 229, 1) 0%,
    rgba(137, 207, 240, 0.9) 100%);
    transform: translateY(100%);
}

.dev-container {
    display: flex;
    margin-top: 40px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.dev-profile {
    height: 125px;
    width: 125px;
    background-color: #ffffff;
    border-radius: 62.5px;
    filter: grayscale(90%);
    transition: 0.7s;
}

.dev-name {
    text-align: center;
    color: #333;
    opacity: 1;
}

.dev-name-down {
    animation-name: fade-down;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

.dev-name-up {
    animation-name: fade-up;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

.dev-profile:hover {
    filter: none;
    transform: translateY(-10px);
}

a {
    text-decoration: none;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes fade-up {
    0% {
        opacity: 1;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}