.search-container {
    width: 100vw;
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right:5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@import "./_card";