body {
    font-family: 'Lato', sans-serif;
}

// -------------------------------------------------------Home Page
.hero-text {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 2rem;
}

.home-titles {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #efede5;
}

.card-year {
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #efede5;
}

.detail-button {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
// -------------------------------------------------------Home Page

// -------------------------------------------------------Modal
.info-title-name {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.info-title-year {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.7;
}

.info-subheading {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.info-content {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 0.7;
}

.tag-bubble {
    letter-spacing: 1px;
}

.info-rating {
    font-size: 16px;
    letter-spacing: 1px;
}
// -------------------------------------------------------Modal




