//........................................................................
// GENERAL STYLING
// Applies to everything (Boiler Plate)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
}
//........................................................................

@import "components/header/header";
@import "components/body/body";
