//........................................................................
// GENERAL STYLING
// Applies to everything (Boiler Plate)
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  background: rgb(137, 207, 240);
  background: linear-gradient(
    rgba(137, 207, 240, 0.9) 0%,
    rgba(239, 237, 229, 1) 25%
  );
  height: 100%;

  .error-container {
    height: 100vh;
  }

  .error-text {
    margin: 3rem 0 0.5rem 5%;
  }
}

//........................................................................

@import "components/header/header";
@import "components/body/body";
@import "variables/typography";